meta(charset='UTF-8')
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="styles/style.css")
script(src="scripts/main.js")

meta(property="og:title" content="ページのタイトル")
meta(property="og:type" content="website")
meta(property="og:url" content="http://kosen10s.net/muscle")
meta(property="og:image" content="http://kosen10s.net/muscle/images/ogp.png")
meta(property="og:site_name"  content="kosen10s LT #4")
meta(property="og:description" content="力こそパワー、kosen10sは筋肉の力で高みへ行く")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@kosen10s")
