html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: serif;
}
html {
  color: #fff;
  background-color: #333;
}
a {
  color: #fff;
}
img {
  max-width: 100%;
}
body {
  padding-bottom: 100px;
}
body:before {
  content: "";
  background-image: url("../images/background.png");
  background-size: cover;
  display: block;
  position: fixed;
  z-index: -1;
  top: -20px;
  left: -20px;
  height: 120%;
  width: 120%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.contents {
  max-width: 700px;
  margin: 0 auto;
  line-height: 60px;
}
.contents strong {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}
.contents h3 {
  font-size: 30px;
  margin: 50px 0 20px;
}
.contents ul {
  list-style-type: circle;
  margin: 20px;
}
h1 {
  max-width: 700px;
  display: block;
  margin: 80px auto;
}
